<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.formasi2">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/logosatu"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logosatu"
        android:supportsRtl="true"
        android:theme="@style/Theme.Formasi2"
        android:hardwareAccelerated="false"
        android:largeHeap="true">

        <activity
            android:name=".ui.beasiswa.BeasiswaDetailActivity"
            android:label="Beasiswa"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.formasi2.MainActivity" />
        </activity>

        <activity
            android:name=".ui.internship.InternshipDetailActivity"
            android:label="Internship"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.formasi2.MainActivity" />
        </activity>

        <activity
            android:name=".ui.seminar.SeminarDetailActivity"
            android:label="Seminar"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.formasi2.MainActivity" />
        </activity>

        <activity
            android:name=".UserAction"
            android:label="Formasi">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity"
            android:label="@string/app_name" />

        <!--Website-->
        <activity
            android:name=".ui.beasiswa.BeasiswaLink"
            android:label="Informasi Selengkapnya"
            android:parentActivityName=".ui.beasiswa.BeasiswaDetailActivity">
        </activity>

        <activity
            android:name=".ui.internship.InternshipLink"
            android:label="Informasi Selengkapnya"
            android:parentActivityName=".ui.internship.InternshipDetailActivity">
        </activity>

        <activity
            android:name=".ui.seminar.SeminarLink"
            android:label="Registrasi"
            android:parentActivityName=".ui.seminar.SeminarDetailActivity">
        </activity>
    </application>
</manifest>